* {
  outline: none !important;
}

.bannerClass {
  background: #CFEBFD;
}
.bannerlogo {
  padding-top: 15px;
  width: 55%;
}

.bannerimg {
  margin-bottom: -6px;
  width: 100%;
  z-index: 1;
}

.helpplant {
  display: block;
  width: 20%;
  margin: 0 auto;
  font-size: 20px;
  color: rgb(39,54,84);
  font-weight: 300;
  line-height: 30px;
}